@import '../../styles/index';

.dropdown {
  &__trigger {
    margin-bottom: 4px;
  }

  &__label {
    font-family: 'Raleway', sans-serif;
    color: green;
    font-size: 12px;
    font-weight: 600;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 136px;
    padding: 0 12px;
    color: green;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    background-color: #fff;
    border: 1px solid gainsboro;

    @include on-tablet {
      width: 176px;
    }

    &:hover {
      border-color: gainsboro;
    }

    &--active {
      border-color: green;
    }
  }

  &__icon {
    display: block;
    height: 16px;
    width: 16px;
    background-image: url(../../images/ButtonDown.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 8px 12px;
    width: 176px;
    border: 1px solid rgb(228, 227, 227);
    background-color: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  &__item {
    height: 32px;
    color: rgb(105, 103, 103);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;

    &:hover {
      color: rgb(32, 139, 73);
      background-color: rgb(219, 247, 238);
    }
  }
}
