.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.footer {
  margin-top: auto;
}

.subscriptions-list {
  padding: 20px;
  width: 800px;
  margin: 0 auto;
}

.no-subscriptions {
  color: red;
  font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.subscriptions-title {
  font-size: 38px;
  margin-bottom: 30px;
  font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  color: rgb(73, 147, 92);
}
.subscription-about-me {
  color: rgb(81, 81, 81);
}
.subscriptions-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscription-card {
  width: 800px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #4dba84;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease;

  &.expanded {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}

.subscription-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.subscription-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subscription-basic-info {
  flex-grow: 1;
}

.subscription-username {
  font-size: 28px;
  margin: 0 0 8px;
}

.subscription-status {
  margin: 0;
  font-size: 16px;
}

.subscription-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.view-more-button,
.unsubscribe-button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.view-more-button {
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
}

.unsubscribe-button {
  background-color: #ff4d4d;
  color: white;
}

.view-more-button:hover,
.unsubscribe-button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

.subscription-details {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.about-me {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 110ch;
  line-height: 1.5;
}

.point {
  color: #4dba84;
}

.subscription-details p {
  margin: 10px 0;
  font-size: 14px;
}