@import '../../styles/index';

.footer {
  font-family: 'Raleway', sans-serif;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 64px;
    position: relative;
    z-index: 1;
    background-color: #95d2af;
    border-top: 1px solid #fff;
  }

  &__logo {
    text-decoration: none;
  }

  &__nav {
    display: flex;
    gap: 48px;
  }

  &__button {
    bottom: 8px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      #3a8a44,
      #2a752f 50%,
      rgb(1, 23, 1) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 16px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:before {
      content: '';
      background: rgb(37, 164, 37);
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-position: 0;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
