@import '../../styles/index';

.home {
  flex: 1;

  &__banner {
    height: 90vh;
    color: #0d4e26;
    background-position: center;
    background-size: cover;
    background-image: url(../../../public/img/pexels-sean-manning-214956-728880.jpg);
  }

  &__title {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 700;
    padding-top: 64px;
    text-align: start;
  }

  &__about {
    position: relative;
    background-color: rgba(#27ae60, 0.5);
  }

  &__about-content {
    padding: 64px 0 80px;
  }

  &__title--h2 {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 36px;
  }

  &__article {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 36px;
  }

  &__paragraph {
    font-family: "Raleway", sans-serif;
    font-size: 22px;
  }

  &__counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: rgb(187, 244, 215);
    background-color: #358754;
    font-size: 48px;
  }

  &__counter-text {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__categories {
    background-color: rgba(#27ae60, 0.1);
  }
}
