.waves {
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -1%;

  &__svg {
    width: 100%;
    height: auto;
  }

  &__moving use {
    animation: moveWave 8s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
}

@keyframes moveWave {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
