@import '../../styles/index';

.header {
  font-family: 'Raleway', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #95d2af;
  border-bottom: 1px solid #fff;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1300px;
    padding: 0 16px 0 32px;
    margin: 0 auto;
  }

  &__left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  &__logo {
    text-decoration: none;
  }

  &__nav {
    display: flex;
    gap: 48px;
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    background-image: linear-gradient(
      to right,
      #3a8a44,
      #2a752f 50%,
      rgb(1, 23, 1) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 16px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

    &:before {
      content: '';
      background: #27ae60;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-position: 0;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__link--is-active {
    background-position: 0;

    &:before {
      width: 100%;
    }
  }

  &__right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }

  &__button {
    bottom: 8px;
  }

  &__label {
    display: flex;
    height: 70%;
    width: 280px;
    padding-inline: 24px;

    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    &:hover,
    &:focus-within {
      border: 1px solid rgb(40, 175, 127);
    }
  }

  &__input {
    width: 100%;
    border: none;
    padding: 0;
    outline: none;
    color: rgb(38, 129, 38);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;

    &::placeholder {
      color: rgb(26, 160, 127);
    }
  }

  &__icon {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    height: 16px;
    width: 16px;
    padding: 16px;
    border: none;

    &--search {
      background-image: url(../../images/search.svg);
    }

    &--close {
      background-image: url(../../images/close.svg);
    }
  }

  &__login {
    height: 32px;
    width: 32px;
    display: block;
    background-image: url(../../images/account.svg);
    background-position: center;
    background-size: contain;

    &:hover {
      transform: scale(1.1);
    }
  }
}
