.posts {
  flex: 1;
  background-color: rgb(227, 247, 240);

  &__content {
    padding: 40px 0 80px;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    color: rgb(18, 75, 18);
    font-family: "Raleway", sans-serif;
  }

  &__count {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    font-family: "Lato", sans-serif;
  }

  &__sorting {
    display: flex;
    gap: 64px;
    margin-bottom: 40px;
  }

  &__dropdown {
    position: relative;
    bottom: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 40px;
  }

  &__pagination {
    padding-top: 64px;
  }

  &__not-found {
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 32px 0;
    color: rgb(15, 131, 77);
  }
}
