@import '../../styles/index';

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;

  &__list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    overflow: hidden;
  }

  &__link {
    display: block;
    height: 32px;
    width: 32px;
    text-decoration: none;
    border-radius: 50%;
    border: 1px solid rgb(231, 224, 224);
    background-color: #fff;
    color: #000;
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;

    &:hover {
      border-color: green;
    }

    &--active {
      background-color: green;
      color: #fff;
    }

    &--prev {
      background-image: url(../../images/ButtonLeft.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--next {
      background-image: url(../../images/ButtonRight.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &--disabled {
      border-color: rgb(207, 205, 205);
      cursor: default;

      &:hover {
        border-color: rgb(207, 205, 205);
      }
    }
  }
}
